* {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #f5f9ea;
}

.card {
    width: 360px;
    height: 490px;
    border: 1px solid black;
    align-content: center;
    margin-left: 50px;
    margin-top: 55px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    ;
    border-radius: 16px;

}

.pic {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 2px solid #a0b1b8;
    margin-top: -190px;
    /* background-image: url(IMG.jpg); */
}

.profile-img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    object-position: center top;
    border-radius: 50%;
}

.name {
    margin-top: 15px;
    font-size: medium;
    font-size: 25px;
}

.profession {
    margin-top: 5px;
    font-size: 15px;
    color: #767676;
}

.bio {
    margin-top: 25px;
    font-size: 15px;
    color: #767676;
}

.icons {
    position: absolute;
    top: 370px;
    left: 45%;
    justify-content: space-evenly;

}

.connect {
    width: 300px;
    height: 50px;
    background-color: #0e6eff;
    color: white;
    position: absolute;
    bottom: 170px;
    left: 40.7%;
    border-radius: 4px;
}

.text {
    margin-top: 15px;
}