* {
    padding: 0px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-color: #d0e2fd; */
}

body {
    background-color: #d0e2fd;
}

.bar {
    background-color: #7634f9;
    width: 100%;
    height: 64px;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    display: flex;
    display: inline-block;
    justify-content: space-evenly;
    position: absolute;
    position: fixed;
}

.homee {
    /* background-color: #7634f9; */
    justify-content: center;
    margin-top: -17px;
    margin-right: 80%;
    font-weight: 700;
    border: none;
    box-sizing: none;
    margin-left: 00%;
    margin-bottom: 20px;
    display: flex;
    justify-items: center;
    margin-bottom: 30px;

}

.text {
    width: 40px;
    font-size: medium;
    justify-content: space-evenly;
    word-spacing: 10px;
    display: flex;
    margin-left: 30px;
    justify-content: center;
    align-items: center;

}

.menu {
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
}

.logo {
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 92%;
    margin-top: -45px;
}

.logo2 {
    justify-content: center;
    align-items: center;
    margin-left: 42%;
    position: relative;
    top: 80px;
}

.text3 {
    margin-left: 26%;
    position: relative;
    top: 65px;
    font-size: calc(1.525rem + 3.3vw)
}

.texxt3-2 {
    margin-left: 2%;
    position: relative;
    top: 5px;
    bottom: -10px;

}

.card1 {
    border: 2px solid black;
    width: 1050px;
    height: 400px;
    justify-content: center;
    margin-top: 180px;
    margin-left: 150px;
    background-image: url(bg.webp);
}

.card2 {
    border: 2px solid black;
    width: 590px;
    height: 400px;
    justify-content: center;
    margin-top: 60px;
    margin-left: 100px;
    background-image: url(bg\ 2.webp);
    display: flex;
    display: inline-block;
}

.card3 {
    border: 2px solid black;
    width: 590px;
    height: 400px;
    justify-content: center;
    margin-top: -407px;
    margin-left: 700px;
    background-image: url(bg4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline;
    display: flex;
}

.card4 {
    border: 2px solid black;
    width: 460px;
    height: 300px;
    justify-content: center;
    margin-top: 60px;
    margin-left: 05px;
    background-image: url(bg5.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.card5 {
    border: 2px solid black;
    width: 460px;
    height: 300px;
    justify-content: center;
    margin-top: -305px;
    margin-left: 480px;
    background-image: url(ng6.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.card6 {
    border: 2px solid black;
    width: 460px;
    height: 300px;
    justify-content: center;
    margin-top: -305px;
    margin-left: 950px;
    background-image: url(bg7.webp);
    background-repeat: no-repeat;
    background-size: cover;
}