*{
    padding: 0%;
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-fluid{
    height: 50px !important;
}
.slider{
    align-self: center !important;
    margin-left: 8%;
    margin-top: 90px !important;
}
.text3{
    margin-top: 40px;
    margin-left: 42%;
}
.card{
    display: inline-block;
    margin-left: 15px;
    align-items: center;
    margin-top: 30px;
}
.navbar{
    background-color: #f8f9fa !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.text4{
    margin-top: 15px;
    margin-left: 42%;
}
.card2{
    display: flex !important;
}
.text5{
    margin-top: 15px;
    margin-left: 42%;
}
.footer{
    width: 100%;
    height: 400px;
    background-color: #f8f9fa;
    margin-top: 35px;
}
.logo{
    margin-left: 9%;
    margin-top: 0%;
    display: flex;
}
.text6{
    margin-left: 10%;
    font-size: 10px;
    margin-top: 15px;
}
.ul {
  list-style: none;
  margin-left: 43.5%; 
}
a {
  text-decoration: none;
}
@media screen and (min-width: 600px) {
 .footer{
    justify-content: space-evenly;
 }
 .text6{
     justify-self: center;
    font-size: 10px;
    margin: 0px;
}
.logo{
    margin: 0%;
    /* margin-top: 0%; */
    display: flex;
    padding: 0%;
    justify-self: center;
}
.ul {
display: none;
}
h3{
    display: none;
}
.text5{
    margin-left: 36%;
}
.text4{
    margin-left:38% ;
}
}