* {
    padding: 0%;
    margin: 0%;
    margin-top: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
}

.bar {
    width: 100%;
    height: 55px;
    background-color: #eeeeee;
    margin-top: 1px;
}

.email {
    display: flex;
    gap: 10px;
    margin-left: 50px;
    font-size: 14px;
}

.phone {
    display: flex;
    gap: 10px;
    margin-left: 340px;
    font-size: 14px;
}

.whatsapp {
    display: flex;
    gap: 10px;
    margin-left: 490px;
    font-size: 14px;
}

.eng-box {
    display: flex;
    width: 90px;
    height: 35px;
    margin-left: 90%;
    font-size: 14px;
    border-radius: 5px;
    background-color: white;
    margin-top: -25px;
}

.bar2 {
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-top: 1px;
    /* position: fixed; */

}


.text {
    display: flex;
    font-size: 14px;
}

.text1 {
    margin-left: 36.6%;
    margin-top: -39px;
    color: #5b8aad;
    display: flex;
}

.text2 {
    margin-left: 3%;
    margin-top: -39px;
    color: #5b8aad;
    display: flex;
}

.text3 {
    margin-left: 3%;
    margin-top: -39px;
    color: #5b8aad;
    display: flex;
}

.text4 {
    margin-left: 3%;
    margin-top: -39px;
    color: #5b8aad;
    display: flex;
}

.text5 {
    margin-left: 3%;
    margin-top: -39px;
    color: #5b8aad;
    display: flex;
}

.text6 {
    margin-left: 3%;
    margin-top: -39px;
    color: #5b8aad;
    display: flex;
}

.t-box {
    display: flex;
    align-items: center;
    margin-top: -62px;
    margin-left: 25px;
}

.text7 {
    width: 130px;
    height: auto;
    background-color: #3b82f6;
    border-radius: 3px;
    color: white;
}

.t-box2 {
    display: flex;
    align-items: center;
    margin-top: -62px;
    margin-left: 25px;
}

.text8 {
    width: 130px;
    height: auto;
    background-color: #3b82f6;
    border-radius: 3px;
    color: white;
}

.ep1 {
    width: 60px;
    height: 55px;
    background-color: #dddeeec4;
    border-radius: 100%;
    margin-top: 9%;
    margin-left: 49px;
}

.text9 {
    font-size: 32px;
    margin-top: -31px;
    margin-left: 55px;
    font-weight: 700;
}

.text10 {
    color: #8ec641;
}

.ep2 {
    width: 60px;
    height: 55px;
    background-color: #dddeeec4;
    border-radius: 100%;
    margin-top: -15%;
    margin-left: 699px;
}

.ep3 {
    width: 30px;
    height: 28px;
    background-color: #ffdabd;
    border-radius: 100%;
    margin-top: -7%;
    margin-left: 1299px;
}

.pic1 {
    width: 160px;
    height: 95px;
    border-radius: 100%;
    margin-top: -15%;
    margin-left: 699px;
}

.text11 {
    font-size: 24px;
    margin-top: -300px;
    margin-left: 55px;
    font-weight: 700;
}

.text12 {
    color: #1370b8;
}

.text13 {
    font-size: 17px;
    margin-top: 15px;
    margin-left: 55px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #959595;
}

.ep4 {
    width: 60px;
    height: 55px;
    background-color: #dddeeec4;
    border-radius: 100%;
    margin-top: -3%;
    margin-left: 440px;
}

.d-box {
    width: 90%;
    height: 115px;
    background-color: #f0fcdb;
    margin-top: 165px;
    justify-items: baseline;
    align-self: center;
    margin-left: 5%;

}

.text14 {
    background-color: #424242;
    color: white;
    width: 75px;
    height: 18px;
    border-radius: 3px;

    gap: 0px;

}

input {
    height: 15px;
}

.text15 {
    background-color: #424242;
    color: white;
    width: 75px;
    height: 18px;
    border-radius: 3px;
    margin-left: 30px;
    gap: 0px;
    margin-left: -1px;
}

.b {
    width: 290px;
    margin-left: 30%;
    height: 39px;
    margin-top: -50px;
    cursor: pointer;
    border-radius: 10px;
}

.b2 {
    width: 260px;
    margin-left: 43%;
    height: 39px;
    margin-top: -50px;
    cursor: pointer;
    border-radius: 10px;
}

.b3 {
    width: 260px;
    margin-left: 54%;
    height: 39px;
    margin-top: -50px;
    cursor: pointer;
    border-radius: 10px;
}

.b4 {
    width: 260px;
    margin-left: 71%;
    height: 39px;
    margin-top: -50px;
    cursor: pointer;
    border-radius: 10px;
}

.b5 {
    width: 260px;
    margin-left: 85%;
    height: 39px;
    margin-top: -50px;
    cursor: pointer;
    border-radius: 10px;
}

.herosection {
    width: 720px;
    height: 555px;
}

.t {
    margin-left: 39%;
    margin-top: 8%;
    font-size: 16px;
    font-weight: 600px;
}

.c1 {
    margin-left: 1.5px;
    margin-top: 7%;
}

.c2 {
    margin-top: 7%;
}
.c3 {
    margin-top: 7%;
}
.c4 {
    margin-top: 7%;
}
.c5 {
    margin-top: 7%;
}
.lasthero-sec{
    width: 95%;
    height: 360px;
    background-color: #eeeeee;
    margin-left: 32px;
    margin-top: 55px;
}