*{
    padding: 0px;
    margin: 0px;
    color: ;
    font-family: Arial, Helvetica, sans-seri;
}
body{
    background-color: #d3d2d0;
}
.box{
    borde 2px solid black;
    height: 350px;
    width: 350px;
    background-color: white;
    box-shadow: 0px 15px 40px rgba(22, 9, 9, 0.25);;
    justify-content: center;
    margin-top: 180px;
    border-radius: 22px;
    justify-content: left;
}
.LOGIN{
    padding-top: 10px;

}
.EMAIL{
    justify-content: left;
    text-align: left;
    padding-left: 10px;
    margin-top: 15px;
}


.EMAIL-BOX{
    border: 1px solid black;
    height: 30px;
    width: 250px;
    margin-top: 15px;
    border-radius: 8px;

}

.PASSWORD{
    justify-content: left;
    text-align: left;
    padding-left: 10px;
    margin-top: 15px;
}


.PASSWORD-BOX{
    border: 1px solid black;
    height: 30px;
    width: 250px;
    margin-top: 15px;
    border-radius: 8px;

}
.LOGIN-BUTTON{
    border: 1px solid black;
    height: 45px;
    width: 250px;
    margin-top: 30px;
    border-radius: 8px;
    background-color: black;
    color: white;

}
.LOGIN-TEXT{
    margin-top: 15px;
    text-align: center;
    display: block;
}
.forget-password{
    color: black;
    margin-top: 15px;
}









