* {
    background-color: #2b2c3e;
    padding: 0px;
    margin: 0px;
}

.CONTACT-ME-UI-SCREEN {
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.25);
    width: 400px;
    height: 500px;
    border-radius: 20px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.Contact-Me {
    color: white;
    font-style: bold;
    margin-top: 20px;
    font-size: 40px;
    background-color: #1c1e2d;
    padding: 0px;

}

.name {
    border: 2px solid #646673;
    height: 30px;
    width: 150px;
    margin-top: 90px;
    position: absolute;
    left: 500px;
    color: #646673;
    border-radius: 6px;
    
}

.email {
    border: 2px solid #646673;
    height: 30px;
    width: 150px;
    margin-top: 90px;
    position: absolute;
    right: 500px;
    color: #646673;
    border-radius: 6px;
}
.text{
    margin-top: 05px;
}
.subject{
    border: 2px solid #646673;
    height: 30px;
    width: 150px;
    color: #646673;
    position: absolute;
    left: 500px;
    margin-top: 150px;
    border-radius: 6px;
}
.number{
    border: 2px solid #646673;
    height: 30px;
    width: 150px;
    color: #646673;
    position: absolute;
    right: 500px;
    margin-top: 150px;
    border-radius: 6px;
}
.b-box{
    border: 2px solid #646673;
    height: 200px;
    width: 350px;
    border-radius: 6px;
    position: absolute;
    justify-content: center;
    margin-top: 220px;
}
.message{
     border: 2px solid #646673;
    height: 40px;
    width: 350px;
    border-radius: 6px;
    position: absolute;
    justify-content: center;
    margin-top: 440px;
    background-color: #4d8ddd;
}
.text2{
    margin-top: 10px;
    padding: 0%;
    color: white;
     background-color:#4d8ddd;
}