* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: #181818;
}

.bar-1 {
  width: 100%;
  height: 55px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: fixed;
  position: sticky;
  display: flex;
  /* position: fixed; */
}

.logo {
  margin-top: 15px;
  margin-left: 32px;
}

.drop-messages {
  margin-left: 43px;
  margin-top: 18px;
  font-size: 14px;
  color: white;
  display: flex;
  gap: 30px;
  cursor: pointer;
}

.drop-messages :hover {
  color: #604b44;
}

.input {
  /* max-width: 230px; */
  width: 350px;
  background-color: hsl(0, 0%, 9%);
  color: white;
  padding: .15rem .5rem;
  margin-left: 150px;
  margin-top: 9px;
  min-height: 40px;
  border-radius: 6px;
  outline: black;
  border: 0.3px solid rgba(230, 211, 211, 0.822);
  line-height: 1.15;
}

.icons {
  margin-top: 10px;
  gap: 15px;
  margin-left: 82px;
  cursor: pointer;
  justify-items: space-between;
}

.bar-2 {
  width: 80%;
  height: 50px;
  background-color: #103156;
  margin-top: 55px;
  border-radius: 4px;
  justify-self: center;
  display: flex;
  gap: 20px;
}

.bar-3 {
  width: 63%;
  height: 155px;
  background-color: #181818;
  margin-top: 55px;
  margin-left: 135px;
  border: 0.5px solid white;
  border-radius: 7px;
  display: flex;
  gap: 20px;
}

.cssbuttons-io-button {
  background: white;
  color: black;
  margin-top: -90px;
  margin-left: 820px;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
  font-size: 11px;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

.box-1 {
  width: 21%;
  height: 220px;
  background-color: #1e1e1e;
  margin-left: 75%;
  margin-top: -97px;
  border-radius: 6px;
}

.box-2 {
  width: 21%;
  height: 160px;
  background-color: #1e1e1e;
  margin-left: 75%;
  margin-top: 37px;
  border-radius: 6px;
}

.box-3 {
  width: 21%;
  height: 65px;
  background-color: #1e1e1e;
  margin-left: 75%;
  margin-top: 37px;
  border-radius: 6px;
}

.span-1 {
  margin-left: 60px;
  margin-top: -14px;
  margin-bottom: 50px;
}

.box-4 {
  width: 21%;
  height: 65px;
  background-color: #1e1e1e;
  margin-left: 75%;
  margin-top: 37px;
  border-radius: 6px;
}

.input-2 {
  /* max-width: 230px; */
  width: 63.3%;
  background-color: hsl(0, 0%, 9%);
  color: white;
  padding: .5rem;
  margin-left: 132px;
  margin-bottom: -900px;
  margin-top: -150px;
  min-height: 40px;
  border-radius: 6px;
  outline: black;
  border: 0.3px solid rgba(230, 211, 211, 0.822);
  line-height: 1.15;
}

.search-2 {
  margin-top: -360px;
}

.text {
  color: white;
  font-size: 19px;
  margin-left: 130px;
  margin-top: 30px;
}

.text2 {
  color: #85a598;
  font-size: 17px;
  margin-left: 130px;
  margin-top: 10px;
  transition: color 560s;
  cursor: pointer;
}

.text2 :hover {
  color: white;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.text3 {
  color: #85a598;
  font-size: 17px;
  margin-left: 30px;
  margin-top: 10px;
  transition: color 560s;
  cursor: pointer;
}

.text3 :hover {
  color: white;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.text4 {
  color: #85a598;
  font-size: 17px;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
  transition: color 560s;
}

.text4 :hover {
  color: white;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.text5 {
  color: #85a598;
  font-size: 14px;
  margin-left: 150px;
  margin-top: 5px;
}

.post-1 {
  width: 64%;
  height: 350px;
  background-color: #181818;
  margin-left: 130px;
  margin-top: 15px;
}

.post-1:hover {
  border: 2px solid black;
}

.text6 {
  color: white;
  font-size: 20px;
  margin-top: -17px;
}

.boxs-1 {
  background-color: #85a598;
  width: 12%;
  height: 28px;
  border-radius: 15px;
  /* margin-left: 18px; */
  /* margin-top: -3px; */
}

.boxs-2 {
  background-color: #85a598;
  width: 25%;
  height: 28px;
  border-radius: 15px;
  margin-left: 18px;
  /* margin-top: -3px; */
}

.box-part {
  display: flex;
}

.boxs-3 {
  background-color: #85a598;
  width: 12%;
  height: 28px;
  border-radius: 15px;
  margin-left: 18px;
  /* margin-top: -3px; */
}

.tick {
  display: flex;
  margin-top: 20px;
  /* margin-left: 15px; */
}

.post-2 {
  width: 64%;
  height: 350px;
  background-color: #181818;
  margin-left: 130px;
  margin-top: 18px;
}

.post-2:hover {
  border: 2px solid black;
}

.fa-bars {
  display: none;
}

.fa-magnifying-glass {
  display: none;
}

@media screen and (max-width: 780px) {
  .drop-messages {
    display: none;
  }

  .search {
    display: none;
  }

  .icons {
    display: none;
  }

  .fa-bars {
    display: flex;
    color: white;
    padding-top: 5px;
    font-size: 22px;
    cursor: pointer;
  }

  .fa-magnifying-glass {
    display: flex;
    color: white;
    padding-top: 20px;
    margin-left: 76%;
       font-size: 22px;
       cursor: pointer;
  }

  .bar-1 {
    width: auto;
  }

  .logo-1 {
    margin-left: 305%;
    margin-top: -45px;
  }
  .bar-2{
    display: none;
  }
  .box-1{
    display: none;
  }
  .box-2{
    display: none;
  }
  .box-3{
    display: none;
  }
  .box-4{
    display: none;
  }
  .search-2{
    margin-top: 140px;
  }
  .textt{
    font-size: 10px;
  }
  .textt-2{
    font-size: 1px;
    display: inline;
  }
  .bar-3{
    display: none;
  }
  .text5{
    font-size: 10.5px;
    margin-left: 132px;
  }
  .boxs-1{
    width: 100px;
  }
   .boxs-2{
    width: 230px;
  }
   .boxs-3{
    width: 100px;
  }
  .post-2{
    margin-top: 90px;
  }
  .post-1{
     margin-top: 90px;
   
  }
  .ul-4{
    display: none;
  }
  .ul-3{
    margin-left: -40px;
    margin-right: 40px;
  }
}