*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: #f2f4f7;
}
.nav1{
background-color: white;
width: 100%;
height: 55px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
input{
    width: 16%;
height: 40px;
background-color: #f2f4f7;
border-radius: 20px;
margin-left: 7px;
margin-top: 7px;
display: flex;
border: none;
outline: none;
padding-left: 10px;
}
.sec-1{
    display: flex;
}
.sec-2{
   width: 30%;
    display: flex;
    margin-left: 33.7%;
    margin-top: -30px;
    justify-content: space-between;
    font-size: 20px;  
}
body{
    background-color: #f2f4f7;
}
.sec-3{
   width: 10%;
    display: flex;
    margin-left: 88%;
    margin-top: -30px;
    justify-content: space-between;
    font-size: 20px;  
    position: absolute;
}
.container{
    display: flex
    
}
.col-1{
    width: 30%;
    height: 600px;
  background-color: #f2f4f7;
    margin-left: -130px;
    
}
.col-1:hover {
overflow: scroll;
overflow-x: hidden;
}
.col-2{
    width: 62.2%;
    height: 400px;
    background-color: #f2f4f7;
    /* border: 2px solid black ; */
    
}
.col-3{
    width: 30%;
    height: 400px;
    background-color: #f2f4f7;
   
}
.pfp{
    display: flex;
}
.text2{
    display: flex;
    margin-left: 80px;
    margin-top: -27px;
}
.bar2{
    width: 85%;
    height: 55px;
    background-color: #ffffff;
    justify-self: center;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: -12px;
 
}
 .in-2{
    margin-top: -40px; 
    margin-left: 72px;
    width: 63%;
}
.sec-5{
    display: flex;
    gap: 12px;
    font-size: 20px;
    margin-top: -2.5px;
}
.mypfp{
    background-color: white;
    width: 17%;
    height: 220px;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    gap: 50px;
}
.icon7{
    margin-top: -12px;
}
.post1{
    width: 65%;
    height: 530px;
    background-color: white;
    justify-self: center;
    margin-top: 330px;
    border-radius: 10px;
}
.icons8{
    margin-top: -40px;
}
.text9{
    font-size: 13px;
    margin-top: 20px;
    margin-left: 10px;
}
.icons10{
    justify-content: space-between;
    justify-items: center;
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
}
.post2{
    width: 85%;
    height: 530px;
    background-color: white;
    justify-self: center;
    margin-top: 330px;
    border-radius: 10px;
}
.post3{
    width: 65%;
    height: 510px;
    background-color: white;
    justify-self: center;
    margin-top: 330px;
    border-radius: 10px;
}
.type-2{
    display: none;
}
@media only screen and (max-width:800px){
    .col-1{
       display: none;
    }
     .col-3{
       display: none;
    }
    /* .col-2{
    } */
    .mypfp{
        margin-left: 165px;
        width: 37%;
    }
    .sec-2{
        display: none;
    }
    .sec-3{
        margin-left: 75%;
        gap: 20px;
        margin-top: -40px;
    
    }
    input:placeholder{
        width: 180%;
    }
  .post-bar{
    width: 190%;
  }
  .bar2{
    width: 145%;
    margin-left: 160px;
  }
  .sec-5{
    margin-left: -104px;
    font-size: 16px;
  }
  .post1{
    width: 90%;
    margin-left: 120px;
  }
  .type{
    display: none;
  }
  .type-2{
    display: inline;
  }
    .post2{
    width: 130%;
    margin-left: 120px;
  }
    .post3{
    width: 90%;
    margin-left: 120px;
  }
}
