* {
    padding: 0px;
    margin: 0px;
    font-family: Helvetica;
    box-sizing: 0px;
}

body {
    background-color: #f2f4f7;
}

.logo {
    margin-top: -3%;
    padding-top: 0%;
    justify-self: center;
}

.belowbox {
    width: 398px;
    height: 550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border-radius: 10px;
    justify-self: center;
    margin-top: -10%;
    margin-bottom: 53px;
}

.text1 {
    justify-self: center;
    margin-top: 5px;
}

.names{
width: 30px;
border-color: #ccd0d5;
/* outline-color: red; */
display: flex;
justify-content: center;
margin-left: 180px;
margin-top: 10px;
column-gap: 20px
}
.text2{
    color: #8e6783;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 20px;
}
.date select{
    width: 115px;
    height: 33px;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    display: inline;
    padding: 0%;
   
} 
.month   select{
    width: 115px;
  height: 33px;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    display: inline;
} 


.year select{
    width: 115px;
    height: 33px;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    display: inline;
} 
button {
  width: 46%;
  height: 40px;
  margin-top: 27px;
margin-left: 98px;
  cursor: pointer;
  color: white;
  background-color: #04a502;
  font-size: 20px;
  border-color: #04a502;
  border-radius: 5px;
}
.text4{
    color: #5e58b3;
    margin-left: 95px;
    margin-top: 20px;
    cursor: pointer;
    text-underline-position: hidden;
}




